    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <td><%= admin.encrypted_password %></td>
        <td><%= link_to 'Show', admin %></td>
        <% if admin_signed_in? %>
            <td><%= link_to 'Edit', edit_admin_registration_path(admin) %></td> |
            <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
            <td><%= link_to 'Sign out', destroy_admin_session_path, :method => "delete" %></td> 
        <%end%>
      </tr>
    <% end %>