<nav class="navbar sticky-top navbar-expand-lg bg-dark">
  <div class="container">
    <!-- Logo -->
    <%= link_to 'Navbar', :class=>'navbar-brand' do %> 
      <%= image_tag 'logo.png' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <!-- Features -->
        <li class="nav-item active">
          <a class="nav-link" href="#">NFTCAKELAB <span class="sr-only">(current)</span></a>
        </li>
        <!-- Admin -->
          <a class="nav-link" href="#">Admin</a>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign in</a>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">Sign up</a>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_out" , destroy_user_session_path, method: :delete>Sign out</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- a implémenter ulterieurement -->
  <% if user_signed_in? %>
    <%= link_to "Edit account", edit_user_registration_path %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete%>
    <%= link_to "Events", events_path %>
  <% else %>
    <%= link_to "Login", new_user_session_path%>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</nav>
