  <form class="row g-3 form" >
    <%= form_for(resource, url: new_partners_office_partner_registration_path) do |f| %>
    <%= render "partners_office/partners/shared/error_messages", resource: resource %>
    <div class="col-md-6">
      <%= f.label :email, class: "form-label" %><br />
      <%= resource.inspect %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-input-shadow", id: "inputEmail4"  %>
    </div>
    <div class="col-md-6">
      <%= f.label :password, class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-input-shadow", id: "inputPassword4" %>
    </div>
    <div class="col-12">
      <%= f.label :password_confirmation, class: "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control form-input-shadow", id: "inputAddress" %>
    </div>
    <div class="col-12">
      <%= f.submit "register", class: "btn btn-primary" %>
    </div>
    <%= render "partners_office/partners/shared/links" %>
    <% end %>
  </form>
