<!DOCTYPE html>
<html>
    <head>
        <title>NftCakeLab</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application' %>
        <%= javascript_include_tag 'application' %>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../assets/stylesheets/styles.css" rel="stylesheet" />

    </head>

    <body>
        <%= render './static_pages/navbar' %>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../assets/javascripts/scripts.js"></script>
    </body>
</html>